.weather-app {
  background-color: #303841;
  border: 1px solid #303841;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}
.search {
  background-color: #3a4750;
  border: 1px solid #3a4750;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  width: 300px;
}
::placeholder {
  color: #eeeeee;
}
.go-button {
  background-color: #303841;
  border: 1px solid #303841;
  color: #00adb5;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
h1 {
  color: #00adb5;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  max-width: 300px;
}
.current-details {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.todays-date {
  color: #eeeeee;
}
.weather-description {
  color: #00adb5;
}
.high-low-temp {
  color: #00adb5;
}
.windspeed {
  color: #00adb5;
}
.humidity {
  color: #00adb5;
}
.current-weather {
  text-align: right;
}
.icon {
  font-size: 35px;
}
.current-temperature {
  color: #00adb5;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  line-height: 50px;
}
.unit-selector {
  color: #3a4750;
  float: right;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.current-location-button {
  background-color: #3a4750;
  border: 1px solid #303841;
  border-radius: 15%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 335px;
  transition: ease-in-out 200ms;
}
.current-location-button:hover {
  background-color: #00adb5;
  border: 1px solid #00adb5;
}
.forecast {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  margin-top: 15px;
  padding: 0;
}
